p{
   font-family:"Audiowide", sans-serif;; 
   font-style: normal;
   font-size: 20px;
   font-weight: 500;
   line-height: 30px;
}

#firstPara{
   background-color: blueviolet;
   color: aliceblue;
}

#secondPara{
   background-color: rgb(70, 104, 241);
}

#thirdPara{
   background-color: rgb(83, 201, 95, 0.513);
}

#fourthPara{
   background-color: hsl(321, 54%, 52%);
}