.box{
    height: 400px;
    width: 400px;
    background-color: beige;
    border: 2px solid black;
    transition-property: all;
    transition-duration: 4s;
    transition-delay: 1s;
    transition-timing-function: ease-out;
}
.box:hover{
    width: 1800px;
    height: 900px;
    background-color: coral;
}